In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
data = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv")
data = data.iloc[:, [1, *range(4, data.shape[1])]]
data = data.set_index(data.columns[0])
data = data.groupby(data.index).sum()
data = data.T
data.index = pd.to_datetime(data.index)
data.head()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahrain,...,Taiwan,Thailand,Togo,Tunisia,UK,US,Ukraine,United Arab Emirates,Vatican City,Vietnam
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,1,2,0,0,0,1,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,1,3,0,0,0,1,0,0,0,2
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,3,5,0,0,0,2,0,0,0,2
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,3,7,0,0,0,2,0,0,0,2
2020-01-26,0,0,0,0,0,0,4,0,0,0,...,4,8,0,0,0,5,0,0,0,2

In [28]:
data.iloc[-1][data.iloc[-1] > data.iloc[-1].quantile(0.75)].s

28